.slide-images {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}
.slide-images li {
    position: absolute;
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
